<!DOCTYPE HTML>
<!--xmlns:th="http://www.thymeleaf.org" to use thymeleaf expressions-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>Employee Directory</title>


</head>
<body>
<div class="container">
    <h3>Products</h3>
    <h3>Users</h3>
    <hr>

    <table class="table table-border table-striped">
        <thead class="thead-dark">
        <tr>
            <th>Product</th>
            <th>Category</th>
            <th>Price</th>
            <th>Units In Stock</th>
            <th>Stock</th>
            <th>User</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="product : ${products}">
            <td th:text="${product.title}"/>
            <td th:text="${product.category}"/>
            <td th:text="${product.price}"/>
            <td th:text="${product.unitsInStock}"/>
            <td th:text="${product.stock}"/>
        </tr>
        <tr th:each="user : ${users}">
            <td th:text="${user.username}"/>
            <td th:text="${user.address}"/>
        </tr>
        </tbody>
    </table>


</div>
</body>
</html>