

<!-- <div class="wrapper"> -->
    
    <div class="content">
        <!-- content here -->
        <div class="product-grid product-grid--flexbox">
            <div class="product-grid__wrapper">
                <!-- Product list start here -->

                <!-- Single product -->
                <div class="product-grid__product-wrapper" *ngFor="let tempProduct of products">
                    <div class="product-grid__product">
                        <div class="product-grid__img-wrapper">
                            <a routerLink='/products/{{tempProduct.id}}'>
                                <img src='{{tempProduct.pictureURL}}' alt="Img" class="product-grid__img" />
                            </a>
                        </div>
                        <span class="product-grid__title">{{tempProduct.title}}</span>
                        <a routerLink='/products/{{tempProduct.id}}'>
                            <span class="product-grid__price">{{tempProduct.price | currency: 'USD'}}</span>
                        </a>
                        <div class="product-grid__extend-wrapper">
                            <div class="product-grid__extend">
                                <p class="product-grid__description">{{tempProduct.description}}</p>
                                <span class="product-grid__btn product-grid__add-to-cart"><i
                                        class="fa fa-cart-arrow-down"></i> Add to cart</span>

                            </div>
                        </div>
                    </div>
                </div>
             
            </div>
        </div>
    </div>

   